/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.is-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Section */
.section {
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
  }
}

.section__title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
  }
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.order {
  -webkit-transition: background-color v 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color v 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color v 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color v 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order:hover, .order:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-filter {
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.button-filter:hover, .button-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  color: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway, sans-serif;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.header__logo {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footer__logo {
  color: #ffffff;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/* Site-nav */
.header__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .header__site-nav {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header__site-nav {
    margin-left: 88px;
  }
}

.header__site-item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__site-item:not(:first-child) {
  margin-left: 50px;
}

.header__link {
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
}

.header__current {
  color: #2196f3;
}

.header__current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .header__current::after {
    display: none;
  }
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:hover .header__icon,
.header__contacts:focus .header__icon {
  fill: #2196f3;
}

@media screen and (max-width: 1199px) {
  .header__icon {
    margin-right: 8px;
  }
}

/* Auth-nav */
.header__auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 84px;
}

@media screen and (max-width: 767px) {
  .header__auth-nav {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header__auth-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 12px;
    line-height: 1.17;
  }
}

.header__auth-item:not(:first-child) {
  margin-left: 50px;
}

@media screen and (max-width: 1199px) {
  .header__auth-item:not(:first-child) {
    margin: 0;
    margin-top: 10px;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
}

.header__contacts:hover, .header__contacts:focus {
  color: #2196f3;
}

.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__nav-item {
  padding-bottom: 32px;
  font-size: 40px;
}

.mobile-menu__nav-item:last-child {
  padding-bottom: 302px;
}

.mobile-menu__contacts-item {
  padding-bottom: 32px;
  font-size: 34px;
}

.mobile-menu__contacts-item:last-child {
  padding-bottom: 64px;
}

.mobile-menu__tel {
  color: #2196f3;
}

.mobile-menu__email {
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.mobile-menu__sm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__sm-item {
  margin-right: 10px;
}

.mobile-menu__sm-item:last-child {
  margin-right: 0;
}

.mobile-menu__sm-item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__sm-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  max-width: 1600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-960.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1536.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1600.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-3200.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

.features {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .features__item {
    padding-bottom: 30px;
  }
  .features__item:last-child {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 15px) / 2);
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .features__background {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .features__background {
    height: 120px;
  }
}

.features__name {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.we-do {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}

.we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we-do__picture {
  display: inline-block;
}

.we-do__description {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
}

.we-do__item {
  display: inline-block;
  position: relative;
}

.we-do__item:not(:first-child) {
  margin-left: 30px;
}

.we-do__description-box {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.members {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .members {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .members {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .members__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.members__card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .members__card {
    display: inline-block;
    max-height: 622px;
    height: 100%;
    margin-bottom: 30px;
  }
  .members__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .members__card {
    width: calc((100% - 2 * 15px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .members__card:nth-child(2n) {
    margin-right: 0;
  }
  .members__card:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .members__card {
    width: 270px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .members__card:not(:first-child) {
    margin-left: 30px;
  }
}

.members__picture {
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.members__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.members__position {
  color: #757575;
  margin-bottom: 16px;
}

.members__sm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (max-width: 767px) {
  .members__sm-list {
    padding-bottom: 24px;
  }
}

.members__sm-item {
  margin-right: 10px;
}

.members__sm-item:last-child {
  margin-right: 0;
}

.members__sm-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.members__sm-link:hover, .members__sm-link:focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.members__sm-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.members__sm-link:hover .members__sm-icon,
.members__sm-link:focus .members__sm-icon {
  fill: #ffffff;
}

.clients {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-bottom: 60px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-top: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-top: -15px;
    margin-left: -15px;
  }
}

.clients__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  border-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 4 * 15px) / 2);
    height: 92px;
    margin: 15px;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: calc((100% - 5 * 30px) / 6);
  }
  .clients__item:last-child {
    margin-right: 0;
  }
}

.clients__link {
  display: inline-block;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

@media screen and (max-width: 767px) {
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: #2196f3;
}

.clients__logo {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: #2196f3;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 0;
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address-box {
    margin-right: 165px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address-box {
    margin-right: 70px;
  }
}

.footer__address {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__address-text {
  color: #ffffff;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .footer__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contacts-link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.footer__contacts-link:hover, .footer__contacts-link:focus {
  color: #2196f3;
}

.footer__contacts-item {
  margin-top: 9px;
}

@media screen and (max-width: 767px) {
  .footer__contacts-item {
    margin-top: 8px;
  }
}

.footer__sm-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__sm-box {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__sm-box {
    margin-right: 93px;
  }
}

.footer__join-us,
.footer__subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__join-us,
  .footer__subscribe-title {
    margin-bottom: 20px;
  }
}

.footer__sm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__sm-list {
    margin-top: 20px;
  }
}

.footer__sm-item {
  margin-right: 10px;
}

.footer__sm-item:last-child {
  margin-right: 0;
}

.footer__sm-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__sm-link:hover,
.footer__sm-link :focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.footer__sm-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__sm-link:hover .footer__sm-icon,
.footer__sm-link:focus .footer__sm-icon {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}

.footer__form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__form-subscribe {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.footer__subscribe-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.footer__subscribe-mail::-webkit-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-mail:-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-mail::-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-mail::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .footer__subscribe-mail {
    width: calc(100vw - 30px);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .footer__subscribe-mail {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-mail {
    margin-right: 12px;
  }
}

.footer__icon-subscribe {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: background-color #2f303a;
  transition: background-color #2f303a;
}

.modal__icon-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__icon-close,
.modal__close:focus .modal__icon-close {
  fill: #2196f3;
}

.modal__form {
  padding-right: 49px;
  padding-bottom: 36px;
  padding-left: 31px;
}

@media screen and (max-width: 767px) {
  .modal__form {
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

.modal__title {
  padding-top: 44px;
  padding-right: 49px;
  padding-bottom: 12px;
  padding-left: 31px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .modal__title {
    text-align: center;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
  }
}

.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-item:focus-within .modal__form-input,
.modal__form-item:hover .modal__form-input {
  border-color: #2196f3;
}

.modal__form-item {
  position: relative;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-item:last-child {
  margin-bottom: 20px;
}

.modal__icon-input {
  position: absolute;
  top: 55%;
  left: 12px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-item:focus-within .modal__icon-input,
.modal__form-item:hover .modal__icon-input {
  fill: #2196f3;
}

.modal__form-label {
  display: inline-block;
  margin-bottom: 4px;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .modal__form-item:focus-within .modal__form-label,
  .modal__form-item:hover .modal__form-label {
    color: #2196f3;
  }
}

.modal__input-comments {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-item:focus-within .modal__input-comments,
.modal__form-item:hover .modal__input-comments {
  border-color: #2196f3;
}

.modal__input-comments::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-comments:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-comments::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-comments::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 11px;
  padding-left: 12px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .modal__policy {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal__checkbox {
  -webkit-appearance: none;
  -mz-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.modal__checkbox:checked + .modal__icon-policy {
  background-color: #2196f3;
  background-image: url("../images/check1.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.modal__icon-policy {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal__checkbox:checked + .modal__icon-policy {
  background-color: #2196f3;
  background-image: url("../images/check1.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.modal__policy-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__policy-link {
  position: relative;
  margin-left: 1px;
  color: #2196f3;
}

.modal__policy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 21%;
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}

.modal__form-submit {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio__filters {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .portfolio__filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 40px;
  }
}

.portfolio__filters-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__filters-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__filters-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.projects__card {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .projects__card {
    width: calc((100% - 30px) / 2);
  }
  .projects__card:nth-last-child(-n) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .projects__card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects__card {
    width: calc((100% - 60px) / 3);
  }
  .projects__card:nth-child(3n) {
    margin-right: 0;
  }
  .projects__card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects__card-image {
  width: 100%;
}

.projects__card-overlay {
  position: relative;
  overflow: hidden;
}

.projects__card-overlay::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__card-overlay::before,
.projects__link:focus .projects__card-overlay::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .projects__card-overlay {
    width: 100%;
  }
}

.projects__overlay-text {
  position: absolute;
  top: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  pointer-events: none;
}

.projects__link:hover .projects__overlay-text,
.projects__link:focus .projects__overlay-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projects__link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .projects__link {
    width: 100%;
  }
}

.projects__card-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.projects__name {
  color: #212121;
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.projects__description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */