:root {
  --primary-black-color: #212121;
  --secondary-black-color: #757575;
  --primary-white-color: #ffffff;
  --black-for-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --sm-icon-color: #afb1b8;
  --sm-icon-footer-color: rgba(255, 255, 255, 0.1);
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-background-color);
  color: var(--primary-black-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
textarea {
  resize: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway, sans-serif;
}
.header__logo {
  color: var(--primary-black-color);
}
.footer__logo {
  color: var(--primary-white-color);
}

/* Header */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.header__nav {
  display: flex;
  align-items: center;
}
/* Site-nav */
.header__site-nav {
  display: flex;
  margin-left: 93px;
}
.header__site-item:not(:first-child) {
  margin-left: 50px;
}
.header__site-item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__link {
  display: block;
  color: var(--primary-black-color);
  transition: color var(--timing-function);
  letter-spacing: 0.02em;
}
.header__current {
  color: var(--accent-color);
}

.header__current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}
.header__icon {
  margin-right: 10px;
  fill: var(--secondary-black-color);
  transition: fill var(--timing-function);
}

/* Auth-nav */
.header__auth-nav {
  display: flex;
  margin-left: auto;
}
.header__auth-item:not(:first-child) {
  margin-left: 50px;
}
.header__contacts {
  display: flex;
  align-items: center;
  color: var(--secondary-black-color);
  transition: color var(--timing-function);
  letter-spacing: 0.02em;
}
.header__contacts:hover,
.header__contacts:focus {
  color: var(--accent-color);
}
.header__contacts:hover .header__icon,
.header__contacts:focus .header__icon {
  fill: var(--accent-color);
}

/* Hero */
.hero {
  background: var(--footer-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-overlay-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Section */
.section {
  padding-top: 94px;
}
.section__title {
  color: var(--primary-black-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-black-color);
  font-size: 14px;
  line-height: 1.71;
}
.features__item {
  width: 270px;
}
.features__background {
  display: flex;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.features__name {
  color: var(--primary-black-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__description {
  width: 270px;
}

/* We do */
.we-do {
  padding-bottom: 94px;
}
.we-do__list {
  display: flex;
}
.we-do__picture {
  display: inline-block;
}
.we-do__item:not(:first-child) {
  margin-left: 30px;
}
.we-do__description {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-white-color);
}
.we-do__item {
  display: inline-block;
  position: relative;
}
.we-do__description-box {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

/* Members */
.members {
  background-color: var(--secondary-background-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 94px;
}
.members__list {
  display: flex;
}
.members__card:not(:first-child) {
  margin-left: 30px;
}
.members__card {
  background-color: var(--primary-white-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members__picture {
  margin-bottom: 30px;
  display: block;
}
.members__name {
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.members__position {
  color: var(--secondary-black-color);
  margin-bottom: 16px;
}
.members__sm-list {
  display: flex;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.members__sm-item {
  margin-right: 10px;
}
.members__sm-item:last-child {
  margin-right: 0;
}
.members__sm-link {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: border-radius var(--timing-function),
    background-color var(--timing-function);
}
.members__sm-link:hover,
.members__sm-link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}
.members__sm-icon {
  width: 20px;
  height: 20px;
  fill: var(--sm-icon-color);
  transition: fill var(--timing-function);
}
.members__sm-link:hover .members__sm-icon,
.members__sm-link:focus .members__sm-icon {
  fill: var(--primary-white-color);
}

/* Clients */
.clients {
  padding-bottom: 94px;
}
.clients__list {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.clients__item {
  box-sizing: border-box;
  margin-right: 30px;
  width: 168px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__link {
  display: inline-block;
  width: 168px;
  height: 92px;
  border: 1px solid var(--sm-icon-color);
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  transition: border-color var(--timing-function);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}
.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-color);
}
.clients__logo {
  fill: var(--sm-icon-color);
  transition: fill var(--timing-function);
}

/* Footer */
.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
  padding-top: 0;
}
.footer__address-box {
  margin-right: 70px;
}
.footer__address {
  margin-top: 20px;
}
.footer__address-text {
  color: var(--primary-white-color);
  font-style: normal;
}
.footer__contacts-link {
  color: var(--black-for-contacts-color);
  transition: color var(--timing-function);
  font-style: normal;
}
.footer__contacts-item {
  margin-top: 9px;
}
.footer__contacts-link:hover,
.footer__contacts-link:focus {
  color: var(--accent-color);
}
.footer__join-us,
.footer__subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer__sm-list {
  display: flex;
}
.footer__sm-item {
  margin-right: 10px;
}
.footer__sm-item:last-child {
  margin-right: 0;
}
.footer__sm-link {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--sm-icon-footer-color);
  transition: border-radius var(--timing-function),
    background-color var(--timing-function);
}
.footer__sm-link:hover,
.footer__sm-link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}
.footer__sm-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
  transition: fill var(--timing-function);
}
.footer__sm-link:hover .footer__sm-icon,
.footer__sm-link:focus .footer__sm-icon {
  fill: var(--primary-white-color);
}
.footer__subscribe-title {
  margin-left: 93px;
}
.footer__form-subscribe {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.footer__subscribe-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background-color);
}
.footer__subscribe-mail::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--black-for-contacts-color);
}
.footer__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__icon-subscribe {
  margin-left: 10px;
}

/* Buttons */
.button {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--timing-function);
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--accent-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.order {
  transition: background-color var(--timing-function),
    box-shadow var(--timing-function);
}
.order:hover,
.order:focus {
  background-color: var(--accent-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-filter {
  color: var(--primary-black-color);
  background-color: var(--secondary-background-color);
  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio */
.portfolio {
  padding-bottom: 94px;
}

/* Filters */
.portfolio__filters {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.portfolio__filters-item:not(:first-child) {
  margin-left: 8px;
}

/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects__card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.projects__card:nth-child(3n) {
  margin-right: 0;
}
.projects__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects__card-overlay {
  position: relative;
  overflow: hidden;
}
.projects__card-overlay::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  transform: translateY(100%);
  transition: transform var(--timing-function);
}
.projects__link:hover .projects__card-overlay::before,
.projects__link:focus .projects__card-overlay::before {
  transform: translateY(0);
}

.projects__link:hover .projects__overlay-text,
.projects__link:focus .projects__overlay-text {
  transform: translateY(-100%);
}
.projects__overlay-text {
  position: absolute;
  top: 100%;
  transition: transform var(--timing-function);
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
  pointer-events: none;
}
.projects__link {
  display: inline-block;
  transition: box-shadow var(--timing-function);
}
.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__card-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.projects__name {
  color: var(--primary-black-color);
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.projects__description {
  color: var(--secondary-black-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-function);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
  border-radius: 4px;
}
.modal__close {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  transition: background-color var(--timing-function);
}
.modal__icon-close {
  transition: fill var(--timing-function);
}
.modal__close:hover .modal__icon-close,
.modal__close:focus .modal__icon-close {
  fill: var(--accent-color);
}
.modal__form {
  padding-right: 49px;
  padding-bottom: 36px;
  padding-left: 31px;
}
.modal__title {
  padding-top: 44px;
  padding-right: 49px;
  padding-bottom: 12px;
  padding-left: 31px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}
.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: var(--timing-function);
}
.modal__form-item {
  position: relative;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__form-item:last-child {
  margin-bottom: 20px;
}
.modal__form-item:focus-within .modal__form-input,
.modal__form-item:hover .modal__form-input {
  border-color: var(--accent-color);
}
.modal__icon-input {
  position: absolute;
  top: 55%;
  left: 12px;
  transition: var(--timing-function);
}
.modal__form-item:focus-within .modal__icon-input,
.modal__form-item:hover .modal__icon-input {
  fill: var(--accent-color);
}
.modal__form-label {
  display: inline-block;
  margin-bottom: 4px;
  color: var(--secondary-black-color);
}
.modal__input-comments {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: var(--timing-function);
}
.modal__form-item:focus-within .modal__input-comments,
.modal__form-item:hover .modal__input-comments {
  border-color: var(--accent-color);
}
.modal__input-comments::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 11px;
  padding-left: 12px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-black-color);
}
.modal__checkbox {
  -webkit-appearance: none;
  -mz-appearance: none;
  appearance: none;
  position: absolute;
}
.modal__checkbox:checked + .modal__icon-policy {
  background-color: var(--accent-color);
  background-image: url("../images/check1.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.modal__icon-policy {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;
}
.modal__policy-agreement {
  display: flex;
  align-items: center;
}
.modal__policy-link {
  position: relative;
  margin-left: 2.5px;
  color: var(--accent-color);
}
.modal__policy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 21%;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}
.modal__form-submit {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
