.hero {
  max-width: 1600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  background: $footer-background;
  background-image: $bg-image-opacity, url(../images/hero-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $bg-image-opacity, url(../images/hero-960.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: $bg-image-opacity, url(../images/hero-768.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $bg-image-opacity, url(../images/hero-1536.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: $bg-image-opacity, url(../images/hero-1600.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $bg-image-opacity, url(../images/hero-3200.jpg);
    }
  }

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $primary-white;
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
  }
}
