.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $timing-function;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $timing-function;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $primary-white;
  border-radius: 4px;
  @media screen and (max-width: 1199px) {
    max-width: 450px;
    width: 100%;
    // height: 609px;
  }
}
.modal__close {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-white;
  transition: background-color $footer-background;
}
.modal__icon-close {
  transition: fill $timing-function;
  .modal__close:hover &,
  .modal__close:focus & {
    fill: $accent-color;
  }
}
.modal__form {
  padding-right: 49px;
  padding-bottom: 36px;
  padding-left: 31px;
  @media screen and (max-width: 1199px) {
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}
.modal__title {
  padding-top: 44px;
  padding-right: 49px;
  padding-bottom: 12px;
  padding-left: 31px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $primary-black;
  @media screen and (max-width: 1199px) {
    text-align: center;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
  }
}
.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: $timing-function;
  .modal__form-item:focus-within &,
  .modal__form-item:hover & {
    border-color: $accent-color;
  }
}
.modal__form-item {
  position: relative;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  &:last-child {
    margin-bottom: 20px;
  }
}
.modal__icon-input {
  position: absolute;
  top: 55%;
  left: 12px;
  transition: $timing-function;
  .modal__form-item:focus-within &,
  .modal__form-item:hover & {
    fill: $accent-color;
  }
}
.modal__form-label {
  display: inline-block;
  margin-bottom: 4px;
  color: $secondary-black;
  @media screen and (max-width: 1199px) {
    .modal__form-item:focus-within &,
    .modal__form-item:hover & {
      color: $accent-color;
    }
  }
}
.modal__input-comments {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: $timing-function;
  .modal__form-item:focus-within &,
  .modal__form-item:hover & {
    border-color: $accent-color;
  }
  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 11px;
  padding-left: 12px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-black;
  @media screen and (max-width: 1199px) {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal__checkbox {
  -webkit-appearance: none;
  -mz-appearance: none;
  appearance: none;
  position: absolute;
}
.modal__checkbox:checked + .modal__icon-policy {
  background-color: $accent-color;
  background-image: url("../images/check1.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: $accent-color;
}
.modal__icon-policy {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid $primary-black;
  border-radius: 2px;
  .modal__checkbox:checked + & {
    background-color: $accent-color;
    background-image: url("../images/check1.svg");
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }
}
.modal__policy-agreement {
  display: flex;
  align-items: center;
}
.modal__policy-link {
  position: relative;
  margin-left: 1px;
  color: $accent-color;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 21%;
    width: 100%;
    height: 1px;
    background-color: $accent-color;
  }
}
.modal__form-submit {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
